flask>=2.0.0,<3.0.0
flask-cors>=4.0.0,<5.0.0
flask-socketio>=5.3.0,<6.0.0
python-engineio>=4.0.0
python-socketio>=5.0.0
pythonnet>=3.0.1
gevent
gevent-websocket
gunicorn
eventlet
numpy
requests>=2.25.0